csharp/generator/JSONSchemaTest/packages/
csharp/generator/JSONSchemaTest/JSONSchemaTest/obj/
csharp/generator/JSONSchemaTest/.vs/
csharp/generator/JSONSchemaTest/JSONSchemaTest/bin/
csharp/generator/KettleCSharpGenerator/KettleCSharpGenerator/bin/
csharp/generator/KettleCSharpGenerator/KettleCSharpGenerator/obj/
csharp/generator/KettleCSharpGenerator/packages/
